<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>About Us</ion-title>
    <app-login-button slot="primary"></app-login-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-text color="primary">
          <h1 class="heading-bold">Who We Are</h1>
        </ion-text>
        <p>
          PAW WOW was established in 2013 by Grace Cho in Vancouver. We value
          our clients and their pet with trustworthy, reliable, and sustainable
          services. Our staffs are certified experts specialized in cats and
          dogs. Come visit our store for free consulting on training.
        </p>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <!-- Google Maps -->
        <ion-text color="primary">
          <h1 class="heading-bold">
            Where We Are Located
            <span class="sub-heading">(Click for full map)</span>
          </h1>
        </ion-text>
        <ion-img
          role="button"
          class="location-img"
          (click)="onShowFullMap()"
          [src]="selectedLocationImage"
        ></ion-img>
        <p>151 W Hastings St, Vancouver, BC V6B 1H4</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
