<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>About Us</ion-title>
    <app-login-button slot="primary"></app-login-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <img src="/assets/human-and-dog.jpg" alt="Human and Dog" />
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-text color="primary">
          <h1 class="heading-bold">Who We Are</h1>
        </ion-text>
        <p>
          PAW WOW was established in 2013 by Grace Cho in Vancouver. We value
          our clients and their pet with trustworthy, reliable, and sustainable
          services. Our staffs are certified experts specialized in cats and
          dogs. Come visit our store for free consulting on training.
        </p>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-text color="primary">
          <h1 class="heading-bold">Meet Our Team</h1>
        </ion-text>
        <!-- TODO: Write and Read on Firestore DB -->
        <ion-list no-padding lines="none">
          <ion-item no-padding>
            <ion-avatar slot="start">
              <img src="/assets/staff-1.jpg" alt="Avatar image of Staff" />
            </ion-avatar>
            <ion-label>
              <h3>Grace Cho</h3>
              <p>CEO</p>
              <p>consectetur adipiscing elit. Duis ut urna neque.</p>
            </ion-label>
          </ion-item>
          <ion-item no-padding>
            <ion-avatar slot="start">
              <img src="/assets/staff-1.jpg" alt="Avatar image of Staff" />
            </ion-avatar>
            <ion-label>
              <h3>Ryan Reynolds</h3>
              <p>Store Manager</p>
              <p>consectetur adipiscing elit. Duis ut urna neque.</p>
            </ion-label>
          </ion-item>
          <ion-item no-padding>
            <ion-avatar slot="start">
              <img src="/assets/staff-1.jpg" alt="Avatar image of Staff" />
            </ion-avatar>
            <ion-label>
              <h3>Christina Jung</h3>
              <p>CS Leader</p>
              <p>consectetur adipiscing elit. Duis ut urna neque.</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
