<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Our Location</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons class="button-get-direction" (click)="getDirection()">
    <ion-button color="primary">
      <ion-icon name="arrow-redo-outline"></ion-icon>
      Get Direction
    </ion-button>
  </ion-buttons>
  <div class="map" #map></div>
</ion-content>
