<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="primary">
        Login / Register
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form>
      <div>
        <div>
          <label>First Name</label>
          <input type="text" name="firstName" placeholder="First Name" />
        </div>
        <div>
          <label>Last Name</label>
          <input type="text" name="lastName" placeholder="Last Name" />
        </div>
      </div>
      <div>
        <label>Email</label>
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" />
      </div>
      <div class="actions">
        <button type="submit">
          Sign Up
        </button>
      </div>
    </form>
  </ion-content>
</ion-app>
