<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Our Services</ion-title>
    <app-login-button slot="primary"></app-login-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card class="service-card">
          <img src="/assets/dog-walking.jpg" alt="Cat and Dog" />
          <ion-card-header>
            <ion-card-title color="primary">Dow Waliking</ion-card-title>
            <ion-card-subtitle
              >With expert dog walkers, <br />your dogs will feel much
              energized.</ion-card-subtitle
            >
          </ion-card-header>
        </ion-card>
        <ion-card class="service-card">
          <img src="/assets/dog-training.jpg" alt="Cat and Dog" />
          <ion-card-header>
            <ion-card-title color="primary">Training</ion-card-title>
            <ion-card-subtitle
              >With our expert trainers, <br />your pet will have a
              fun.</ion-card-subtitle
            >
          </ion-card-header>
        </ion-card>
        <ion-card class="service-card">
          <img src="/assets/boarding.jpg" alt="Cat and Dog" />
          <ion-card-header>
            <ion-card-title color="primary">Boarding</ion-card-title>
            <ion-card-subtitle>Have a fun staycation.</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="service-card">
          <img src="/assets/dog-day-care.jpg" alt="Cat and Dog" />
          <ion-card-header>
            <ion-card-title color="primary">Day Care</ion-card-title>
            <ion-card-subtitle
              >The ultimate and private day care.</ion-card-subtitle
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
