ion-card:first-of-type {
  margin-top: 0;
}

.service-card {
  height: 100%;

  img {
    max-height: 25vh;
    overflow: hidden;
    object-fit: cover;
  }
}

.card-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
