<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Profile
    </ion-title>
    <ion-buttons slot="primary" *ngIf="auth.isLoggedIn()">
      <ion-button (click)="logout()">
        <ion-icon name="exit" slot="start"></ion-icon>Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card class="profile-card" *ngIf="item | async as userProfile">
          <ion-row *ngIf="error">
            <ion-col size-sm="6" offset-sm="3">
              <ion-text class="error">
                {{ error }}
              </ion-text>
            </ion-col>
          </ion-row>
          <div *ngIf="downloadURL | async; let srcUrl">
            <img
              [src]="srcUrl"
              alt="profile image of {{ userProfile.firstName}}"
            />
          </div>
          <div *ngIf="!(downloadURL | async)">
            <img
              src="/assets/human-and-dog.jpg"
              alt="Placeholder Human and Dog"
            />
          </div>
          <span *ngIf="(uploadProgress | async)/100 ; let uploadValue">
            <ion-progress-bar
              *ngIf="! (uploadValue === 1 || uploadValue ===0)"
              [value]="uploadValue"
            ></ion-progress-bar>
          </span>
          <ion-card-header>
            <ion-card-title color="secondary"
              >Hey, {{ userProfile.firstName }}
              <span *ngIf="userProfile.petName">
                and {{ userProfile.petName }}
              </span>
            </ion-card-title>
          </ion-card-header>
          <ion-button
            *ngIf="downloadURL | async; let srcUrl"
            color="primary"
            (click)="fileInput.click()"
          >
            Update Photo
          </ion-button>
          <ion-button
            *ngIf="!(downloadURL | async)"
            color="primary"
            (click)="fileInput.click()"
          >
            Upload Photo
          </ion-button>
          <input
            type="file"
            class="file-input"
            #fileInput
            (change)="fileChange($event)"
            accept=".png,.jpg"
          />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="item | async as userProfile">
    <form #profileForm="ngForm" (submit)="onSubmit(profileForm)">
      <ion-grid>
        <ion-row *ngIf="error">
          <ion-col size-sm="6" offset-sm="3">
            <ion-text class="error">
              {{ error }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-sm="8" offset-sm="2">
            <ion-item>
              <ion-label color="primary" position="stacked"
                >First Name</ion-label
              >
              <ion-input
                type="text"
                name="firstName"
                inputmode="text"
                required
                [ngModel]="userProfile.firstName"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="stacked"
                >Last Name</ion-label
              >
              <ion-input
                type="text"
                name="lastName"
                inputmode="text"
                required
                [ngModel]="userProfile.lastName"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="stacked">Email</ion-label>
              <ion-input
                type="text"
                name="email"
                inputmode="email"
                required
                [ngModel]="userProfile.email"
                disabled
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating">Phone</ion-label>
              <ion-input
                type="number"
                inputmode="numeric"
                name="phone"
                [ngModel]="userProfile.phone"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating">Address</ion-label>
              <ion-input
                name="address"
                [ngModel]="userProfile.address"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating">City</ion-label>
              <ion-input name="city" [ngModel]="userProfile.city"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating"
                >Province</ion-label
              >
              <ion-select
                name="province"
                [ngModel]="userProfile.province"
                placeholder="Select Province"
              >
                <ion-select-option value="on">Ontario</ion-select-option>
                <ion-select-option value="QC">Quebec</ion-select-option>
                <ion-select-option value="NS">Nova Scotia</ion-select-option>
                <ion-select-option value="NB">New Brunswick</ion-select-option>
                <ion-select-option value="MB">Manitoba</ion-select-option>
                <ion-select-option value="BC"
                  >British Columbia</ion-select-option
                >
                <ion-select-option value="PE"
                  >Prince Edward Island</ion-select-option
                >
                <ion-select-option value="SK">Saskatchewan</ion-select-option>
                <ion-select-option value="AB">Alberta</ion-select-option>
                <ion-select-option value="NL"
                  >Newfoundland and Labrador</ion-select-option
                >
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating"
                >Zip Code</ion-label
              >
              <ion-input
                inputmode="text"
                name="zip"
                [ngModel]="userProfile.zip"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary" position="floating"
                >Pet Name</ion-label
              >
              <ion-input
                inputmode="text"
                name="petName"
                [ngModel]="userProfile.petName"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating">Pet Age</ion-label>
              <ion-input
                inputmode="numeric"
                type="number"
                name="petAge"
                [ngModel]="userProfile.petAge"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating"
                >Pet Description</ion-label
              >
              <ion-textarea
                type="textarea"
                rows="3"
                maxlength="300"
                inputmode="text"
                name="petDescription"
                [ngModel]="userProfile.petDescription"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button type="submit" color="primary" expand="block">
              Update
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
