<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <!-- TODO: Set this log-in-out button as a seperate module.. shared module? -->
    <ion-buttons slot="primary" *ngIf="auth.isLoggedIn()">
      <ion-button (click)="onProfile()">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="!auth.isLoggedIn()">
      <ion-button (click)="onLogin()">
        <ion-icon name="log-in" slot="start"></ion-icon>Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card class="welcome-card">
          <img src="/assets/cat-and-dog.jpg" alt="Cat and Dog" />
          <ion-card-header>
            <ion-card-subtitle>A Friendly Pet Store</ion-card-subtitle>
            <ion-card-title color="primary">Welcome to Pawwow</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            PAW WOW was established in 2013 by Grace Cho in Vancouver. We value
            our clients and their pet with trustworthy, reliable, and
            sustainable services. Our staffs are certified experts specialized
            in cats and dogs. Come visit our store for free consulting on
            training.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-list lines="none">
          <ion-list-header>
            <ion-label>Read more</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let page of pages" routerLink="{{ page.url }}">
            <ion-icon
              color="primary"
              slot="start"
              name="{{ page.icon }}"
            ></ion-icon>
            <ion-label>{{ page.title }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
